{% extends "signup.html" %}

{% block title %}Konto aktywowane{% endblock %}

{% block body %}

	<div id="container">

		<div style="color: #008000; font-size: 24; font-weight: bold; margin-bottom: 20px; text-align: center;"> Konto zostało aktywowane! </div>

		<p style="text-align: center">Sukces! Twoje konto zostało aktywowane, możesz teraz się zalogować. </p>
		
		<a href="/login"><button type="button" class="styled" style="margin-top: 10px; margin-left: 35%; margin-right: 5%;">Zaloguj się!</button></a>
	
	</div>

{% endblock %}
