{% extends 'signup.html' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

<div id="container">

    <div style="color: #008000; font-size: 24; font-weight: bold; margin-bottom: 20px; text-align: center;"> Rejestracja zakończona sukcesem! </div>
	
	<div style="margin-bottom: 20px"><h4 style="text-align: center">Sprawdź swój e-mail aby zakończyć aktywację konta</h4></div>

    <a href="/"><span style="font-size: 14px; margin-left: 40%;">Przejdź do strony głównej >> </span></a>

{% endblock %}
